---
import deunaLogo from "../assets/deunalogo.png";
import QrCode from "../components/QrCode";
---

<div class="container">
  <div class="logo">
    <img src={deunaLogo.src} alt="Deuna logo" />
  </div>
  
  <div class="qr">
    
  <QrCode client:load />
  </div>

  <p class="text-qr">Usa este código QR para cobrar</p>

  <div class="options">
    <div class="button">
      <i class="fas fa-qrcode"></i>
      <span>Pagar QR</span>
    </div>
    <div class="button">
      <i class="fas fa-shield-alt"></i>
      <span>Verificar pago</span>
    </div>
    <div class="button">
      <i class="fas fa-subway"></i>
      <span>Metro UIO</span>
    </div>
  </div>

  <div class="button-login">
    <button onclick="window.location.href='/home'">Iniciar sesión</button></a>
    
  </div>
</div>
<style>
  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .logo img {
    max-width: 200px;
    width: 100%;
    margin-top: -35px;
  }

  .text-qr {
    margin-top: -20px;
    font-weight: bold;
  }

  .options {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #662D91;
    width: 30%;
    min-width: 100px;
  }

  .button i {
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    }

  .button-login {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 320px;
  }

  .button-login button {
    background-color: #662D91;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }
</style>
